/* Base Styles */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  height: 100%;
  background: #121212;
}

h1 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

#chat-box {
  width: 90%; /* Увеличена ширина за мобилни устройства */
  max-width: 450px; /* Максимална ширина за по-големи екрани */
  height: 400px; /* Намалена височина за мобилни екрани */
  border: 2px solid white;
  padding: 1%;
  overflow-y: auto;
  background: #181818;
  color: white;
}

#chat-box div {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

#chat-box .user {
  font-weight: bold;
}

#chat-box .text {
  display: inline;
}

#chat-box .time {
  font-size: 13px;
  color: white;
  margin-left: auto;
}

#input-box {
  margin-top: 1%;
  display: flex;
  width: 90%;
  max-width: 450px;
  color: white;
}

#message-input {
  flex: 1;
  padding: 8px;
  border: 2px solid white;
  background: #181818;
  color: white;
  font-size: 14px; /* Намален размер на шрифта за мобилни екрани */
}

#send-button {
  margin-left: 1%;
  padding: 8px;
  background: #D01C1C;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 14px; /* Намален размер на бутона */
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 12px;
  border-radius: 15px;
  max-width: 100%;
  font-size: 14px; /* Намален размер на шрифта за съобщения */
}

.my-message {
  justify-content: flex-end;
  background-color: #333;
  color: white;
  margin-left: auto;
  text-align: right;
  position: relative;
}

.my-message .time {
  position: absolute;
  left: 2%;
  text-align: left;
  color: white;
  font-size: 12px;
}

.other-message {
  justify-content: flex-start;
  background-color: #222;
  color: white;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.other-message .time {
  position: absolute;
  right: 10px;
  text-align: right;
  color: white;
  font-size: 12px;
}

.user {
  font-weight: bold;
}

.text {
  word-break: break-word;
}

/* Mobile-first styles */
@media (max-width: 768px) {
  #chat-box {
    height: 350px; /* Намалена височина за по-малки екрани */
  }

  #input-box {
    width: 100%;
  }

  #message-input {
    font-size: 12px;
  }

  #send-button {
    padding: 5px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  body {
    margin-top: 10px;
  }

  h1 {
    font-size: 18px; /* Още по-малък размер на заглавието */
  }

  #chat-box {
    height: 300px; /* Намалена височина за най-малки екрани */
  }

  #message-input {
    font-size: 12px;
  }

  #send-button {
    padding: 5px;
    font-size: 12px;
  }
}
